@charset "utf-8";

/*
   Web Design 1
   Unit 3 Project
   
   Resume Website
   Author: Jason White
   Date:   05/08/2024

   Filename: custom_fonts.css
*/

nav#navtop {
    font-family: "Jura", sans-serif;
}

nav#navtoplinks {
    font-family: "Jura", sans-serif;
}

nav#navfooter {
    font-family: "Jura", sans-serif;
}
